%h1 Locations

%table
  %tr
    %th Address
    %th Latitude
    %th Longitude
  - for location in @locations
    %tr
      %td= location.address
      %td= location.latitude
      %td= location.longitude
      %td= link_to "Show", admin_location_path(location)
      %td= link_to "Edit", edit_admin_location_path(location)
      %td= link_to "Destroy", admin_location_path(location), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Location", new_admin_location_path
