%h1 Location

%p
  %strong Address:
  = @location.address
%p
  %strong Latitude:
  = @location.latitude
%p
  %strong Longitude:
  = @location.longitude

%p
  = link_to "Edit", edit_admin_location_path(@location)
  = link_to "Destroy", admin_location_path(@location), :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", admin_locations_path
