= title "Location"

%p
  %strong Address:
  = @location.address
%p
  %strong Latitude:
  = @location.latitude
%p
  %strong Longitude:
  = @location.longitude

%p
  = link_to "Edit", edit_location_path(@location)
  = link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", locations_path
