%h1 Admin Area
= link_to 'Gifts', {controller: :gifts}
%br
= link_to 'Users', {controller: :users}
%br
= link_to 'User Roles', {controller: :roles}
%br
= link_to 'Locations', {controller: :locations}
%br
= link_to 'Merchant Types', {controller: :merchant_types}
%br
= link_to 'Merchants', {controller: :merchants}
%br
= link_to 'Purchases', {controller: :purchases}
%br
