%h1 Listing users

%table
  %thead
    %tr
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td{colspan: 3}= "#{user.last_name}, #{user.first_name} - #{user.email}"
      %tr
        %td= link_to 'View', user
        %td
          - if friend = current_user.friends.find_by(friend_id: user.id)
            - case friend.state.to_sym
              - when :request_sent
                Friend Requested
              - when :request_received
                = link_to('Approve', approve_friend_request_user_path(user))
                /
                = link_to('Decline', decline_friend_request_user_path(user))
                Friend Request
              - when :request_declined, :unfriended
                = link_to('Add Friend', add_friend_user_path(user))
              - when :friends
                = link_to('Unfriend', unfriend_user_path(user))
          - else
            = link_to('Add Friend', add_friend_user_path(user))

%br
= link_to 'New User', new_user_path
