%h1 Merchant Types

%table
  %tr
    %th Name
    %th Key
  - for merchant_type in @merchant_types
    %tr
      %td= merchant_type.name
      %td= merchant_type.key
      %td= link_to "Show", admin_merchant_type_path(merchant_type)
      %td= link_to "Edit", edit_admin_merchant_type_path(merchant_type)
      %td= link_to "Destroy", admin_merchant_type_path(merchant_type), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Merchant Type", new_admin_merchant_type_path
