%h1 Merchant Type

%p
  %strong Name:
  = @merchant_type.name
%p
  %strong Key:
  = @merchant_type.key

%p
  = link_to "Edit", edit_admin_merchant_type_path(@merchant_type)
  = link_to "Destroy", admin_merchant_type_path(@merchant_type), :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", admin_merchant_types_path
